body {
  background-color: rgb(212, 192, 203) !important;
}

.all-buttons {
  text-align: center;
}

.all-buttons {
  display: none; /* Hide house buttons initially. in the js i change display to block when intro button is clicked */
}

/* #cards {
  border: 5px solid black !important;
}

#expelled-cards {
  border: 5px solid black !important;

  nvm, need to do this in the js so border doesn't appear before cards are even called. maybe do this later. gotta do mvp now. back to it k byeeeee
} */
