body {
  background-color: rgb(212, 192, 203) !important;
}

.all-buttons {
  text-align: center;
}

.all-buttons {
  display: none; /* Hide house buttons initially. in the js i change display to block when intro button is clicked */
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#cards {
  border: 5px solid black;
  display: none;
}

#expelledCards {
  border: 5px solid black;
  display: none;
}
